@{
    ViewData["Title"] = "Sistema de cadeteria";
}

@model SistemaCadeteria.Models.Cadeteria

<h1>
    @Model.Nombre
</h1>

@Html.ActionLink("Crear cadete", "CrearCadete", "Home", new Cadete(), null)

@{
    if (Model.Cadetes.Count() > 0)
    {

        <table>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Dirección</th>
            </tr>
            @foreach (var item in Model.Cadetes)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Nombre</td>
                    <td>@item.Telefono</td>
                    <td>@item.Direccion</td>
                    <td>@Html.ActionLink("Eliminar", "BorrarCadete", "Home", item.Id, null)</td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>La cadetería no dispone de ningún cadete hasta el momento</p>
    }
}