@model SistemaCadeteria.Models.DBCadeteria

@{
    ViewData["Title"] = @Model.Cadeteria.Nombre;
}
<h1>Listado</h1>

<hr>

<h3>Cadetes</h3>


@if (Model.Cadeteria.Cadetes.Count() < 10)
{
    @Html.ActionLink("Contratar cadete",
"CrearCadete")
}
else
{
    <p>Se ha alcanzado la cantidad máxima de cadetes</p>
}

@{
    if (Model.Cadeteria.Cadetes.Count() > 0)
    {

        <table class="tabla">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Dirección</th>
                <th>Pedidos asignados</th>
                <th></th>
            </tr>
            @foreach (var item in Model.Cadeteria.Cadetes)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Nombre</td>
                    <td>@item.Telefono</td>
                    <td>@item.Direccion</td>
                    <td>@item.Pedidos.Count()</td>
                    <td>@Html.ActionLink("Dar de baja",
            "BorrarCadete",
            new {id = item.Id},
            new { onclick = $"return confirm('¿Está seguro que desea dar de baja al cadete {item.Nombre}?');"})</td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>La cadetería no dispone de ningún cadete hasta el momento</p>
    }
}

<hr>

<h3>Pedidos no asignados</h3>

@if (Model.PedidosNoAsignados.Count() < 20)
{
    @*@Html.ActionLink()*@
}
else
{
    <p>Se ha alcanzado la cantidad máxima de pedidos sin asignar</p>
}

@{
    if (Model.PedidosNoAsignados.Count() > 0)
    {
        <table class="tabla">
            <tr>
                <th>Nro pedido</th>
                <th></th>
            </tr>
            @foreach (var item in Model.PedidosNoAsignados)
            {
                <tr>

                </tr>
            }
        </table>
    }
    else
    {
        <p>La cadetería no tiene pedidos que realizar</p>
    }
}